<footer class="py-3 text-center text-light bg-dark mt-5">
  <div class='my-2'>
    <a class='link-light' href='https://www.facebook.com/'><i class="bi bi-facebook fs-4 mx-3"></i></a>
    <a class='link-light' href='https://twitter.com/home'><i class="bi bi-twitter fs-4 mx-3"></i></a>
    <a class='link-light' href='https://www.youtube.com/'><i class="bi bi-youtube fs-4 mx-3"></i></a>
  </div>
  <p class="mb-0 mt-3">
    <a href="#" class='fw-bold text-decoration-none'>Back to top</a>
  </p>
</footer>