    <nav class="navbar navbar-expand-lg bg-white container mb-md-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img src="/images/highground-logo.jpg" alt="" width="300">
        </a>
        <p class="d-none d-md-block px-4 fst-italic text-capitalize border-start text-black-50">For the esteemed news consumer</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav navbar-nav nav-pills align-items-center py-5 py-lg-0">
            <li class="nav-item"><a href="/faqs.html" class="nav-link text-black fw-600 d-flex align-items-center"><i class="bi bi-envelope fs-5 mx-2 text-light primary-icon-class"></i>Subscribe</a></li>
            <li class="nav-item"><a href="/blog.html" class="nav-link do-not-click-button fw-bold">DO NOT CLICK 🚫</a></li>
        </ul>
        </div>


        


      </div>
    </nav>